.task--container {
    min-height: 50px;
    margin-bottom: 6px;
    background-color: #f9fafb !important;
    background-color: #fbfcfe !important;
    padding: 12px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 9.5px !important;
    border: 1px solid #dfe1e3 !important;
    border: 1px solid #dee0e2 !important;
    border-radius: 5.5px !important;
    max-width: 392px;
}
.task--container:hover { 
    cursor: pointer !important;
}

.task-title {
    font-size: 17px;
    font-size: 16.5px;
    font-weight: 600;
    color: #4b4b4b;
}

.task-description {
    font-size: 15.5px;
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-top: 4.5px;
    /* color: #7e8387; */
    /* color: #797d81;
    color: #74787c; */
    color: #707478;
}