.task--container {
    min-height: 50px;
    padding-bottom: 12px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 9px !important;
    border-radius: 5px !important;
    max-width: 392px;
    margin-bottom: 8.5px !important;
    background-color: #fafbfc !important;
    background-color: #fbfcfd !important;
    /* background-color: #fefeff !important; */
    border: 1px solid #d5d6d8 !important;
}
.task--container:hover { 
    cursor: pointer !important;
}

.task-title {
    /* font-size: 17px; */
    font-size: 17.5px;
    font-weight: 600;
    color: #3b3b3b;
    color: #383838;
}

.task-description {
    font-size: 16.5px;
    letter-spacing: 0.1px;
    margin-top: 4.5px;
    /* color: #6b6f73; */
    color: #65696d;
}