.task--container {
    min-height: 50px;
    border: 1px solid #c4cad0 !important;
    border-radius: 8px !important;
    margin-bottom: 6px;
    padding: 11px !important;
    padding-left: 12px !important;
    background-color: #e6eaee !important;
    border: 1px solid #d4d8dd !important;
}
.task--container:hover { 
    cursor: pointer !important;
    border: 1.5px solid #d4d8dd !important;
}

.task-title {
    font-size: 15.5px;
}

.task-description {
    font-size: 15px;
    color: #212124;
    color: #6b717b;
}