.task-details {
    margin-left: 4.5px;
}

.task-description-details {
    font-size: 17px;
}

.task-create-date--container {
    margin-top: 20px;
    display: flex;
}

.task-lbl {
    font-weight: 500;
    /* margin-top: 0px !important; */
    margin-top: 1px;
    margin-left: 0px !important;
    letter-spacing: 0.5px;
    font-size: 14.5px;
    color: #8c8c8c;
}

.created-date {
    font-size: 14.5px;
    color: #8c8c8c;
    font-weight: 500;
}

.icon--container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 18px;
}

.edit-icon,
.delete-icon {
    color: #535455 !important;
    margin-bottom: 4px;
}

.edit-icon:hover,
.delete-icon:hover {
    cursor: pointer;
    /* color: #6f767d !important; */
}

.edit-icon {
    margin-right: 14px;
    margin-left: 8%;
}