.task-details {
    margin-left: 4.5px;
    display: flex;
    justify-content: space-between;
}

.task-description--container {
    
}
.task-description-lbl {
    color: #0d0e0f;
}


.icon--container {
    display: flex;
}

.edit-icon,
.delete-icon {
    color: #535455 !important;
    margin-bottom: 4px;
}

.edit-icon:hover,
.delete-icon:hover {
    cursor: pointer;
}

.edit-icon {
    margin-right: 10px;
}