.auth--container {
    width: 37%;
    min-width: 550px;
    max-width: 658px;
    margin: 0 auto;
    margin-top: 90px;
    border: 1px solid #cbccce;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    padding: 46.5px 62px;
    padding-top: 30px;
}

.auth-header--container {
    margin-bottom: 12px;
    margin-bottom: 6px;
}

.auth--header {
    font-size: 24.5px !important;
    font-size: 22.5px !important;
    font-size: 18px !important;
    margin-bottom: 7.5px;
    margin-bottom: 9.5px;
    margin-top: 7.5px;  
}

.confirm-account--subheader {
    font-size: 15.5px;
    color: gray;
    margin-bottom: 14px;
}

.auth--form {
}

.form-error {
    color: red;
    margin-bottom: 8px;
    font-size: 15.5px;
}
.form-success {
    color: #029902;
    margin-bottom: 8.5px;
    margin-top: -2px;
    font-size: 15.5px;
}

.login-links--container {
    display: flex;
    justify-content: space-evenly;

}

.auth-link--container {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.auth-link--container:first-of-type {
    margin-right: -30%;
}

.signup-link {
    text-decoration: underline;
}