.auth--container {
    width: 37%;
    min-width: 550px;
    max-width: 658px;
    margin: 0 auto;
    margin-top: 90px;
    border: 1px solid #d3d6d9;
    border: 1px solid #cfd1d4;
    border: 1px solid #cbccce;
    border-radius: 24px;
    padding: 28px 50px 34px;
    padding: 44.5px 52px;
    padding-top: 24.5px;
    padding-top: 31.5px;
    /* box-shadow: 0px 1.5px 7px 1px rgb(0 0 0 / 15%); */
}

.auth-header--container {
    margin-bottom: 12px;
    margin-bottom: 6px;
}

.auth--header {
    font-size: 24.5px !important;
    font-size: 22.5px !important;
    font-size: 18px !important;
    margin-bottom: 7.5px;
    /* margin-top: 2px; */
    margin-top: 2.5px;  
    margin-top: 4.5px;  
}

.auth--form {
}

.form-error {
    color: red;
    margin-bottom: 8px;
    font-size: 15.5px;
}

.auth-link--container {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.signup-link {
    text-decoration: underline;
}