.login--container {
    width: 38%;
    min-width: 550px;
    max-width: 658px;
    margin: 0 auto;
    margin-top: 10px;
    /* border: 1px solid #cfd2d3; */
    border: 1px solid #eeeff0;
    /* border-radius: 16px; */
    border-radius: 20px;
    padding: 28px 50px 34px;
    padding: 36px 52px;
    padding-top: 16px;
    box-shadow: 0px 1.5px 7px 1px rgb(0 0 0 / 14%);
}

.login-header--container {
    margin-bottom: 12px;
}

.login--header {
    font-size: 24.5px !important;
    font-size: 22.5px !important;
}

.form-error {
    color: red;
    margin-bottom: 8px;
    font-size: 15.5px;
}