.button {
    border: none;
    outline: none;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 42px;
    border-radius: 7px;
    width: 100%;
    color: #fff;
    letter-spacing: 0.1px;
    font-size: 15.5px;
}
.button:hover {
    cursor: pointer;
}
.button:focus-visible {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* custom focus ring */
}
.button.disabled {
    background-color: #ced4db;
    /* color: #7c838c; */
}