.button {
    border: none;
    outline: none;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 42px;
    border-radius: 7px;
    width: 100%;
    color: #fff;
    letter-spacing: 0.1px;
    font-size: 15.5px;
}
.button:hover {
    cursor: pointer;
}
.button:focus-visible {
    outline: 2.5px solid #448dd7;
    outline-offset: 1px;
}
.button.disabled {
    background-color: #ced4db;
}