.button.flat {
    font-weight: 600;
    font-size: 14.5px;
    letter-spacing: 0.3px;
    border-radius: 6.5px;
    height: 40px;
    padding: 4px 40px;
    color: #9c9c9c;
    color: #9a9a9a;
    background-color: #eee;
}
.button.flat:focus {
    outline: none;
}

.button.flat.task-edit {
    margin-right: 3%;
}

.button.flat.task-delete {
    width: 60%;
}