.button.flat {
    background-color: #e4e5e6;
    color: #8b8b8b;
    font-weight: 600;
    font-size: 14.5px;
    letter-spacing: 0.3px;
    border-radius: 10px;
    height: 42.5px;
    padding: 4px 40px;
}
.button.flat:focus {
    outline: none;
}

.button.flat.task-edit {
    margin-left: 3%;
}

.button.flat.task-delete {
    width: 40%;
}