.button.flat {
    font-weight: 600;
    font-size: 14.5px;
    letter-spacing: 0.3px;
    border-radius: 6px;
    height: 40px;
    padding: 4px 40px;
    color: #999;
    /* background-color: #f1f1f1; */
    /* background-color: #f5f5f5; */
    background-color: #f3f3f3;
    background-color: #f0f0f0;
    background-color: #f2f2f2;
}
.button.flat:focus {
    outline: none;
}

.button.flat.task-edit {
    margin-right: 3%;
}

.button.flat.task-delete {
    width: 60%;
}