.button.primary {
    /* background-color: #006cb2; */
    /* background-color: #0064b2; */
    /* background-color: #1d72c0; */
    /* background-color: #2c7cc6; */
    background-color: #2274c0;
    background-color: #1571d0;
    background-color: #1a72cd;
    background-color: #2071c5;
    background-color: #2376cc;
    background-color: #2375c9;
    background-color: #2271c1;
    background-color: #1c69b7;
    font-size: 15.5px;
    height: 40px !important;
    font-weight: 600;
    border-radius: 6px;
    border-radius: 5px;
}