.add-task-tag--container {
    display: flex;
    margin-bottom: 5px;
}
.add-task-tag--container:hover {
    cursor: pointer;
}

.add-task-tag--lbl {
    font-size: 14.5px;
    font-weight: 600;
    color: #2871c8;
    margin-top: 0;
}