.add-task-tag--container {
    display: flex;
    /* margin-bottom: 8px; */
    margin-bottom: 7px;
    margin-top: 2px;
    /* width: 76px; */
}
.add-task-tag--container.new-tag {
    margin-bottom: 0px;
    width: 109px;
}
.add-task-tag--container:hover {
    cursor: pointer;
}

.add-task-tag--lbl {
    font-size: 14px;
    font-weight: 600;
    /* color: #007add; */
    color: #2071c5;
    color: #2376cc;
    color: #2375c9;
    margin-top: 0;
    line-height: 18px;
}