.tag--container {
    display: flex;
}
.tag--container:hover {
    cursor: pointer;
}

.tag-name {
    width: 100px;
    color: #6e7274;
}

.delete-tag-btn {
    display: none;
}
.delete-tag-btn:hover {
    display: block;
    cursor: pointer;
}