.tag--container {
    display: flex;
    margin-right: 3%;
    padding: 1.5px 9px;
    border: 1.5px solid #5b99fd;
    background-color: rgb(79 168 255 / 9%);
    border-radius: 15px;
}
.tag--container:hover {
    cursor: pointer;
}
.tag--container:hover .delete-tag-btn--container {
    cursor: pointer;
    display: block;
}

.tag-name {
    font-weight: 600;
    font-size: 13px;
    color: #3573d9;
    text-wrap-mode: nowrap;
}

.delete-tag-btn--container {
    display: none;
    border-left: 1px solid #5b99fd;
    padding-left: 3.5px;
    padding-right: 4.5px;
    padding-top: 1px;
    font-size: 17px;
    margin-right: -9.5px;
    border-radius: 0 24px 24px 0;
    margin-left: 4px;
    margin-top: -1.5px;
    margin-bottom: -1.5px;
    background-color: #4683e5;
    background-color: #5b99fd;
    color: #fff;
}