.tag--container {
    display: flex;
    margin-right: 2.5%;
    padding: 1px 8px;
    padding: 0.5px 6px;
    border: 1.5px solid #478cff;
    background-color: rgb(79 168 255 / 12%);
    background-color: rgb(79 168 255 / 14%);
    background-color: rgb(49 153 255 / 14%);
    border-radius: 15px;
}
.tag--container:hover {
    cursor: pointer;
}
.tag--container:hover .delete-tag-btn--container {
    cursor: pointer;
    display: block;
}

.tag-name {
    font-size: 13px;
    color: #4075cc;
    /* color: #3e71c4;
    color: #3e71c5; */
    font-weight: 700;
    text-wrap-mode: nowrap;
}

.delete-tag-btn--container {
    display: none;
    padding-left: 3.5px;
    font-size: 19px;
    margin-right: -3.5px;
    margin-top: -3px;
    margin-bottom: -1.5px;
    color: #4075cc;
}