.tag--container {
    display: flex;
    margin-right: 2.5%;
    padding: 0px 5px;
    border: 1.5px solid #007bffa1;
    border-color: #008affa1;
    border-color: #008affd1;
    background-color: rgb(59 154 255 / 13%);
    background-color: rgb(0 124 255 / 11%);
    border-radius: 15px;
}
.tag--container.task-tag-details {
    margin-right: 0.5%;
}
.tag--container.task-tag-details:hover {
    cursor: pointer;
}
.tag--container.task-tag-details:hover .delete-tag-btn--container {
    cursor: pointer;
    display: block;
}

.tag-name {
    font-size: 12.5px;
    color: #247fcc;
    font-weight: 700;
    text-wrap-mode: nowrap;
    /* margin-top: 1px; */
    margin-top: 0.5px;
    margin-bottom: 1px;
}

.delete-tag-btn--container {
    display: none;
    padding-left: 3.5px;
    padding-right: 2px;
    font-size: 19.5px;
    /* font-size: 20px; */
    margin-right: -3.5px;
    margin-bottom: -1.5px;
    /* margin-top: -3.5px; */
    margin-top: -5px;
    color: #247fcc;
}