.tags-grid--container {
    margin: 14px 0;
    margin-bottom: 15px;
}

.tags--lbl {
    color: #959595;
}

.available-tags--lbl {
    /* margin-bottom: 6px; */
    color: #959595;
}

.tags-grid {
    overflow: scroll;    
    /* background-color: #f1f1f1;
    border-radius: 8px; */

    /* background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 6px; */
    /* height: 42px; */
}

.tags-list {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    overflow: scroll;
    padding-left: 0px;
}