.tags-grid--container {
    margin: 14px 0;
    margin-bottom: 16px;
}

.tags--lbl {
    margin-bottom: 6px;
    color: #8a8a8a;
    /* color: #8f8f8f; */
}

.tags-grid {
    overflow: scroll;    
    background-color: #eff0f1;
    border-radius: 8px;
    height: 45px;
}

.tags-list {
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    width: 100%;
    overflow: scroll;
    padding-left: 14px;
}