.homepage {
    /* background-color: #eeeff2; */
    background-color: #e6e8ed;
    border: 1px solid rgb(0,0,0,.1);
}

.homepage--section-1 {
  border-bottom: 2px solid lightgrey;
  padding-bottom: 3%;
}


.homepage-text {
  font-size: 16.5px;
  color: #46494b;
  color: #3c3f40;
  margin-bottom: 16px;
}

.homepage-text.row-4 {
    margin-top: 2%;
}

.signup-signin-btn--container {
  display: flex;
  flex-direction: column;
}


.HomeContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardTitle {
  /* font-family: "bebas neue"; */
  font-size: x-large !important;
  margin-top: 1em;
}

.greyCard {
  background-color: rgba(196, 196, 196, 0.25) !important;
}

.card {
  width: 360px;
  height: 300px;
  padding: 0;
  margin: 0;
}

.cardText {
  font-family: "quicksand";
  font-size: large !important;
}


.Call--To--Action {
  /* width: 243px; */
  margin-bottom: 7%;
  margin-top: 2%;
  height: 41.5px;
  background-color: #0265ab !important;
  border-color: #0265ab !important;
  border-radius: 6px !important;
  padding-bottom: 7px !important;
  /* border: 1px solid #6b6f72 !important; */
}
.homepage-login--link:hover {
    cursor: pointer;
}



@media only screen and (max-width: 768px) {
    .homepage--container {
      height: 723px;
      width: 100%;
    }
    .homepage {
      width: 94%;
      margin: 0 auto;
      border-radius: 10px;
      border-radius: 12px;
      padding: 2% 4%;
      min-height: 85%;
      border: 1px solid rgb(0,0,0,.07);
    }
    .homepage--section-1,
    .homepage--section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        margin-top: 4%;
        text-align: center;
        line-height: 1.3;
    }
    .homepage-header {
        font-size: 30px;
        width: 86%;
        text-align: center;
        margin: 0 auto;
        margin-top: 2%;
        color: #212529;
      }
    .signup-signin-btn--container {
        width: 88%;
    }
}


@media only screen and (min-width: 768px) {
    .homepage--container {
        height: 100%;
        width: 100%;
    }
    .homepage {
        width: 50%;
        width: 62.5%;
        max-width: 900px;
        margin: 0 auto;
        border-radius: 2px;
        padding: 1.5% 2%;
        min-height: 73%;
        box-shadow: 0px 2px 5px 0.5px rgb(0 0 0 / 16%);
        border: 1px solid rgb(0,0,0,.05);
    }
    .homepage--section-1,
    .homepage--section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        margin-top: 2%;
        text-align: center;
        line-height: 1.3;
        font-size: 18px;
    }
    .homepage--section-1 {
        padding-bottom: 1%;
    }
    .homepage--section-2 {
        padding-bottom: 0px;
        margin-top: .25% !important;
    }
    .homepage-header {
        font-size: 30px;
        width: 86%;
        text-align: center;
        margin: 0 auto;
        color: #212529;
    }
    .homepage-section-2--header {
        font-size: 30px;
        width: 87%;
        text-align: center;
        margin: 0 auto;
        color: #212529;
        margin-top: 2%;
    }
    .homepage-text.row-4 {
        margin-top: 2%;
    }
    .language-dropdown--container {

    }
    .signup-signin-btn--container {
        width: 54%;
    }
    .Call--To--Action {
        font-size: 15.5px !important;
        margin-bottom: 10px !important;
    }
}