.pb-input--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.pb-input-lbl {
    font-size: 15px;
    margin-bottom: 4px;
    margin-left: 2px;
    color: #515151;
    letter-spacing: 0.1px;
}

.pb-input {
    height: 42px;
    border-radius: 7px;
    border: none;
    padding-left: 14px;
    padding-right: 8px;
    letter-spacing: 0.2px;
    font-size: 15.5px;
    background-color: #f6f6f7;
    color: #0c0c0c;
}
.pb-input:focus {
    outline: none;
}
.pb-input:disabled {
    background-color: #f5f7f9;
    color: gray;
}

.pb-input.login {
    height: 43.5px;
    border-radius: 5px;
}

.modal-input {
    background-color: #f4f4f4;
    border-radius: 4px;
}