.pb-input--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.pb-input-lbl {
    font-size: 14.5px;
    margin-bottom: 3.5px;
    margin-left: 6px;
    color: #4e4e4e;
    letter-spacing: 0.1px;
}

.pb-input {
    height: 42px;
    border-radius: 7px;
    border: none;
    /* background-color: #f3f4f5; */
    background-color: #f6f6f7;
    padding-left: 14px;
    font-size: 16px;
    /* color: #4b4b4b; */
    color: #2e2e2e;
    letter-spacing: 0.2px;
    font-size: 15.5px;
}
.pb-input:focus {
    outline: none;
}
.pb-input:disabled {
    background-color: #f5f7f9;
    color: gray;
}

.pb-input.login {
    color: #26282a;
}

.modal-input {
    background-color: #f0f1f3;
}