.pb-input--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.pb-input-lbl {
    font-size: 15px;
    margin-bottom: 4.5px;
    margin-left: 2px;
    /* color: #656567; */
    color: #848484;
    color: #707070;
    color: #6c6c6c;
    color: #616161;
    letter-spacing: 0.1px;
    width: max-content;
    font-weight: 500;
    font-size: 14.5px;
}
.pb-input-lbl:hover {
    cursor: text;
}

.pb-input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 12px;
    padding-right: 8px;
    letter-spacing: 0.2px;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #000;
}
.pb-input:focus {
    outline: 1px solid #448dd7;
}
.pb-input:disabled {
    background-color: #f5f7f9;
    color: gray;
}

.pb-input-clr--btn {
    border: none;
    border-radius: 2px;
    color: #9b9b9b;
    margin-left: -16%;
    padding: 6px 5px;
    height: 34px;
    margin-top: 1px;
    background-color: transparent;
}
.pb-input-clr--btn:hover {
    cursor: pointer;
}

.modal-input {
    background-color: #f4f4f5;
    border-radius: 4px;
}