.pb-select {
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 3.5px;
    /* height: 42.5px; */
    /* padding: 10px; */
    padding: 7px;
    padding: 8px;
    /* min-width: 288px; */
    min-width: 262px;
    font-size: 16.5px;
    color: #000;
    background-color: transparent;
}
.pb-select:focus {
    outline: none;
}
.pb-select:hover {
    cursor: pointer;
}