.pb-textarea {
    padding: 11px 12px;
    /* resize: vertical; */
    font-family: inherit !important;

    overflow: hidden;
    resize: none; /* Prevent manual resizing */
    min-height: 2rem; /* Optional: prevent it from collapsing too small */
}