.task--container {
    /* min-height: 46px; */

    padding-bottom: 9px !important;
    padding-bottom: 8px !important;
    padding-right: 15px !important;
    padding-top: 4px !important;
    padding-left: 11px !important;

    border-radius: 4px !important;
    margin-bottom: 7px !important;
    background-color: #fff !important;
    border: 1px solid #b9b9b9 !important;
    border: 1px solid #a9a9a9 !important;
}
.task--container:hover { 
    cursor: pointer !important;
}

.task-title {
    font-size: 17px;
    font-size: 16.5px;
    font-weight: 600;
    color: #141414;
    color: #000;
    margin-bottom: 2px;
}

.task-description {
    font-size: 16.5px;
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
    color: #444;
    color: #404040;
    color: #585858;
    margin-bottom: 0.5px;
    margin-bottom: 1px;
}

.description-not-provided--lbl {
    font-size: 15.5px;
}