.task--container {
    min-height: 50px;

    /* padding-bottom: 10.5px !important;
    padding-right: 15px !important;
    padding-top: 6px !important;
    padding-left: 13px !important; */

    /* padding-bottom: 10px !important;
    padding-bottom: 9.5px !important; */
    padding-bottom: 9px !important;
    padding-right: 15px !important;
    padding-top: 4px !important;
    padding-left: 11px !important;

    border-radius: 4px !important;
    margin-bottom: 7px !important;
    background-color: #fff !important;
    border: 1px solid #b9b9b9 !important;
    /* border: 1px solid #bbb !important; */
}
.task--container:hover { 
    cursor: pointer !important;
}

.task-title {
    /* font-size: 17.5px; */
    font-size: 17px;
    font-weight: 600;
    color: #141414;
    color: #000;
    margin-bottom: 2px;
}

.task-description {
    font-size: 16.5px;
    /* font-size: 17px; */
    letter-spacing: 0.1px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
    color: #444;
    /* margin-top: 4.5px; */
    /* margin-bottom: 2.5px; */
}

.description-not-provided--lbl {
    font-size: 15.5px;
}