.task--container {
    min-height: 50px;
    padding-bottom: 10.5px !important;
    padding-right: 15px !important;
    padding-top: 7px !important;
    padding-left: 14px !important;
    padding-left: 13px !important;
    border-radius: 3.5px !important;
    margin-bottom: 8.5px !important;
    margin-bottom: 7.5px !important;
    background-color: #fff !important;
    /* background-color: #fefeff !important; */
    border: 1px solid #909090 !important;
    border: 1px solid #929295 !important;
    border: 1px solid #87878a !important;
    border: 1px solid #949497 !important;
    border: 1px solid #919194 !important;
}
.task--container:hover { 
    cursor: pointer !important;
}

.task-title {
    font-size: 17.5px;
    font-weight: 600;
    color: #050505;
    color: #040404;
    color: #0b0b0b;
    color: #050505;
    color: #000;
}

.task-description {
    font-size: 16.5px;
    font-size: 17px;
    letter-spacing: 0.1px;
    margin-top: 4.5px;
    overflow-wrap: break-word;
    color: #2c2c2c;
    color: #454545;
    color: #444;
    color: #404142;
}

.description-not-provided--lbl {
    font-size: 16px;
}