.task--container {
    min-height: 50px;
    padding-bottom: 10.5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 9px !important;
    border-radius: 5px !important;
    max-width: 392px;
    margin-bottom: 8.5px !important;
    background-color: #fff !important;
    /* border: 1px solid #c3c1c1 !important; */
    border: 1px solid #bcbcbe !important;
    border: 1px solid #bababc !important;
}
.task--container:hover { 
    cursor: pointer !important;
}

.task-title {
    font-size: 17.5px;
    font-weight: 600;
    color: #282828;
}

.task-description {
    font-size: 16.5px;
    letter-spacing: 0.1px;
    margin-top: 4.5px;
    color: #565759;
}

.description-not-provided--lbl {
    font-size: 16px;
    /* color: #67676e; */
}