.task--container {
    min-height: 50px;

    /* padding-bottom: 10.5px !important;
    padding-right: 15px !important;
    padding-top: 6px !important;
    padding-left: 13px !important; */

    padding-bottom: 10px !important;
    padding-right: 15px !important;
    padding-top: 4px !important;
    padding-left: 11px !important;

    border-radius: 4px !important;
    margin-bottom: 7px !important;
    background-color: #fff !important;
    border: 1px solid #c3c3c3 !important;
}
.task--container:hover { 
    cursor: pointer !important;
}

.task-title {
    font-size: 17.5px;
    font-weight: 600;
    color: #141414;
}

.task-description {
    font-size: 16.5px;
    font-size: 17px;
    letter-spacing: 0.1px;
    margin-top: 4.5px;
    overflow-wrap: break-word;
    color: #3a3a3a;
    margin-bottom: 2.5px;
}

.description-not-provided--lbl {
    font-size: 15.5px;
}