.task-details {
    margin-left: 0px;
}

.task-description-details {
    font-size: 17px;
    color: #3c3c3c;
    color: #3b3b3c;
    color: #3b3b3b;
    color: #444;
}
.task-description-details:hover {
    cursor: pointer;
}

.task-create-date--container {
    margin-top: 12px;
    display: flex;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    color: #898989;
}

.task-lbl {
    margin-top: 1px;
    margin-left: 0px !important;
}

.task-action-btns {
    display: flex;
    margin-top: 14px;
}