.task-details {
    margin-left: 4.5px;
}

.task-description-details {
    font-size: 17px;
    /* font-size: 17.5px; */
    color: #3c3c3c;
}
.task-description-details:hover {
    cursor: pointer;
}

.task-create-date--container {
    margin-top: 12px;
    display: flex;
    font-style: italic;
    font-size: 15px;
    color: #8c8c8c;
    font-weight: 500;
    font-size: 14.5px;
    color: #898989;
}

.task-lbl {
    margin-top: 1px;
    margin-left: 0px !important;
    /* letter-spacing: 0.5px; */
}

.task-action-btns {
    display: flex;
    margin-top: 14px;
}