.task-details {
    margin-left: 4.5px;
}

.task-description-details {
    font-size: 17.5px;
    color: #555;
    color: #505050;
    color: #2b3237;
}
.task-description-details:hover {
    cursor: pointer;
}

.task-create-date--container {
    margin-top: 16px;
    margin-top: 14px;
    margin-top: 12px;
    display: flex;
    font-style: italic;
}

.task-lbl {
    font-weight: 500;
    margin-top: 1px;
    margin-left: 0px !important;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #8c8c8c;
}

.created-date {
    font-size: 15px;
    color: #8c8c8c;
    font-weight: 500;
}

.task-action-btns {
    display: flex;
    /* flex-direction: row-reverse; */
    margin-top: 16px;
}