.more-icon--container {
    
}
.more-icon--container:hover {
    cursor: pointer;
}
.more-icon {
    /* color: gray; */
    color: #7c7b7b;
    font-size: 27.5px !important;
}

.more-options--container {
    display: none;
    
    min-width: 200px;
    box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 10%);
    position: fixed;
    z-index: 1;
    background-color: #fff;
    background-color: #fafcfd;
    border-radius: 12px;
    top: 13%;
    left: 25%;
    padding: 1px 1px;
    padding: 4px 6px;
}
.more-options--container > ul {
    margin: 0 auto;
    padding: 6px 0px;
}

.more-options-li {
    list-style-type: none;
    width: 95%;
    padding: 8px 4px;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 15.5px;
    color: #585d66;
    color: #4b4f56;
    color: #575a5f;
}
.more-options-li:hover {
    cursor: pointer;
    background-color: #edeff2;
}