.add-icon {
    color: #7c7b7b;
    width: 23px;
    height: 23px;
    padding: 0px !important;
}

.add-icon.edit-task-tags-list {
    width: 22px;
    height: 20px;
    margin-left: 1%;
    color: #2871c8;
}

.add-icon:hover {
    cursor: pointer;
}

.add-icon.board {
    font-size: 22px !important;
    margin-left: 0.5px;
}