.add-icon {
    color: #7c7b7b;
    font-size: 25px !important;
    padding: 0px !important;
}
.add-icon:hover {
    cursor: pointer;
}

.add-icon.board {
    font-size: 22px !important;
    margin-left: 0.5px;
}