.add-icon {
    color: #7e7e7e;
    width: 22px;
    height: 22px;
    padding: 0px !important;
}

.add-icon.task-tag {
    width: 22px;
    height: 21px;
    margin-left: 1%;
    margin-top: -1px;
    color: #247fcc;
}

.add-icon.task-tag.new-tag {
    width: 18.5px;
    height: 24px;
    margin-top: -3px;
    margin-left: 4px;
}

.add-icon:hover {
    cursor: pointer;
}

.add-icon.board {
    font-size: 22px !important;
    margin-left: 0.5px;
}