.more-icon {
    color: #7e7e7e;
    font-size: 29.5px !important;
}
.more-icon:hover {
    cursor: pointer;
}

.more-options--container {
    display: none;
    
    min-width: 200px;
    box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 10%);
    position: fixed;
    z-index: 1;
    background-color: #fafcfd;
    border-radius: 12px;
    top: 13%;
    left: 25%;
    padding: 4px 6px;
}
.more-options--container > ul {
    margin: 0 auto;
    padding: 6px 0px;
}

.more-options-li {
    list-style-type: none;
    padding: 9px 24px;
    font-size: 15.5px;
    color: #3a3a3a;
}
.more-options-li:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.more-options-li.selected {
    background-color: #daebff;
    color: #516980;
}
.more-options-li.selected:hover {
    background-color: #d9ebff;
}
.more-options-li.not-found:hover {
    background-color: #fff;
}