.add-column-template--container {
    height: 50px;
    height: 48px;
    min-width: 344px;
    max-width: 344px;
    border-radius: 8px;
    border-radius: 7px;
    border-radius: 5px;
    padding: 20px;
    padding-top: 18px;
    margin-left: 0.3%;
    /* border: 1px dashed #c8c8c8; */
    border: 1.5px dashed #e3e3e3;
    border: 1.5px dashed #dadada;
}
.add-column-template--container:hover {
    cursor: pointer;
}

.add-column-template--body {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7px;
}

.column-add-template {
    font-size: 21.5px !important;
    color: #2a2a2a;
    color: #000;
}

.add-column-template-icon--container {
    margin-top: 4px;
    font-size: 24px !important;
}

