.column--container {
    display: flex;
    flex-direction: column;
    min-width: 406px;
    max-width: 406px;
    margin-right: 3.5px;
    background-color: #fff;
    border-radius: 4px;
}

.column--container:first-of-type {
    border-radius: 15px 4px 4px 15px;
}
.column--container.last {
    border-radius: 4px 15px 15px 4px;
}

.column-header--container {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.column-header:hover {
    cursor: pointer;
} 

.column-description {
    color: #6b717b;
    margin-top: 5px;
}

.add-task-icon--container {
    margin-top: 2px;
}
.add-task-icon--container:hover {
    cursor: pointer;
}
.add-task-icon {
    color: gray !important;
}

.column--body {
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: .985;
}