.column--container {
    height: 99.5%;
    min-width: 370px;
    border-radius: 2px;
    margin-right: 4px;
    background-color: #fff;
}

.column-header--container {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 2px solid #f2f4f7;
    border-bottom: 2px solid #e3e5e9;
}

.column--body {
    padding: 10px;
    height: 91%;
}