.add-column-template--container {
    height: 50px;
    min-width: 344px;
    max-width: 344px;
    border-radius: 26px;
    padding: 20px;
    padding-top: 18px;
    border: 1px dashed #b0b2b7;
    margin-left: 0.3%;

    background-color: #f1f5f9;
    background-color: transparent;
    /* border: 1px dashed #cbcbcf;
    background-color: #edf1f6;
    background-color: #f0f3f8;
    border: 1px dashed #d7d7dd; */
    border: 1px dashed #d4d4d9;
}
.add-column-template--container:hover {
    cursor: pointer;
    /* background-color: #f1f5f9;
    border: 1px dashed #cbcbcf; */
}

.add-column-template--body {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7px;
}

.add-column-template-icon--container {
    margin-top: 4px;
    font-size: 24px !important;
}

