.column--container {
    display: flex;
    flex-direction: column;
    min-width: 426px;
    margin-right: 0.65%;
    background-color: #ededef;
    background-color: #efeff0;
    /* background-color: #efeff1; */
    box-shadow: 0px 1.5px 2px 0px rgb(0 0 0 / 14%);
}
.column--container.last {
    margin-right: 5px;
}

.column-header--container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-top: 10.5px;
    padding-bottom: 5.5px;
    text-align: center;
    /* color: #272727 !important; */
}

.column-header {
    font-size: 18px;
    /* color: #383838; */
    /* color: #363636; */
    color: #282828;
    font-weight: 600;
} 

.column-header:hover {
    cursor: pointer;
} 

.column-description {
    color: #6b717b;
    margin-top: 5px;
}

.add-task-icon--container {
    margin-top: 2px;
}
.add-task-icon--container:hover {
    cursor: pointer;
}
.add-task-icon {
    color: gray !important;
}

.column--body {
    padding: 10px 8.5px;
    padding-top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: .985;
    scroll-behavior: smooth;
}