.board--container {
    height: 92%;
    border-top: none;
    display: flex;
    flex-direction: column;
    /* background-color: #e6eaee; */
    background-color: #f9fcff;
}

.board-name--container {
    padding: 15px;
    padding-bottom: 2px;
    padding-top: 0;
    margin-left: 0.4%;
    margin-bottom: 2px;
    margin-top: -2px;
}

.board-name {
    font-size: 24px;
    font-size: 23.5px;
}

.add-new-board--btn {
    display: flex;
    margin-right: 4.8%;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 12px;
    padding: 6px 12px;
    color: #636569;
    font-size: 15px;
    background-color: #f2f4f8;
    margin-left: -10%;

}
.add-new-board--btn:hover {
    cursor: pointer;
}

.add-new-board--lbl {
    padding-top: 1.5px;
    margin-right: 2px;
    padding-left: 4.5px;
    
}
.add-new-board--lbl:hover {
    
}

.board {
    flex: 1;
    display: flex;
    overflow-x: scroll;
    padding-top: 6.5px;
    padding-right: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 14px; 
}

.board-wrapper {
    display: flex;
    border-radius: 14px;
    /* box-shadow: 0px 1px 6.5px 1.5px #d5d8de; */
    box-shadow: 0px 1px 6.5px 1px #d1d4da;
    /* background-color: #e0e3e6; */
    background-color: #d9dcdf;
    margin-right: 4px;
}