.board--container {
    width: 99%;
    height: 92%;
    border-top: none;
}

.board {
    width: 100%;
    height: 98.5%;
    display: flex;
    overflow-x: scroll;
    /* background-color: #dee1e4; */
    background-color: #dde1e5;
    padding: 3.5px 6px;
}