.board--container {
    height: 92%;
    border-top: none;
    display: flex;
    flex-direction: column;
}

.board {
    flex: 1;
    display: flex;
    overflow-x: scroll;
    background-color: #dde1e5;
    padding-top: 5px;
    padding-right: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 7.5px;
}