.board--container {
    height: 92%;
    border-top: none;
    display: flex;
    flex-direction: column;
    background-color: #fafcfe;
    background-color: #f9fbfd;
    /* background-color: #f7f8f9; */
}

.board-name--container {
    padding: 15px;
    padding-bottom: 2px;
    padding-top: 0;
    margin-left: 0.4%;
    margin-bottom: 1px;
    margin-top: -2px;
}

.board-name {
    font-size: 22.5px;
    letter-spacing: 0.5px;
}

.add-new-board--btn {
    display: flex;
    margin-right: 4.8%;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 12px;
    padding: 6px 12px;
    color: #636569;
    font-size: 15px;
    /* background-color: #f2f4f8; */
    background-color: #eef0f4;
    margin-left: -10%;
}
.add-new-board--btn:hover {
    cursor: pointer;
}

.add-new-board--lbl {
    padding-top: 1.5px;
    margin-right: 2px;
    padding-left: 4.5px;
    
}
.add-new-board--lbl:hover {
    
}

.board {
    flex: 1;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 6.5px;
    padding-top: 5px;
    padding-bottom: 8.5px;
    padding-left: 14px; 
    padding-right: 12.5px;
}

.board-wrapper {
    display: flex;
    border-radius: 14px;
    box-shadow: 0px 1px 4px 0px #c8c9cc;
    box-shadow: 0px 2px 4px 0px #d4d5d8;
    background-color: #e1e4e9;
    background-color: #e5e8ed;
    margin-right: 4px;
    border-top: 1px solid #e8edf2;
}