.nav--container {
    width: 94.5%;
}

.nav--container {
    height: 58px;
    padding: 10px 48px;
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.pb-logo {
    font-size: 26.5px;
    margin-top: 10.5px;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-style: italic;
}

.pb-logo:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    margin-right: 2%;
    margin-top: 23.5px;
}

.nav-link {
    list-style-type: none;
    margin-right: 46px;
    font-size: 16.5px;
    letter-spacing: 0.1px;
}

.nav-link:hover {
    cursor: pointer;
}