.nav--container {
    width: 94.5%;
    height: 58.5px;
    height: 54px;
    padding: 10px 48px;
    padding-top: 6px;
    background-color: #f9fafb;
    background-color: #fcfdff;
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.pb-logo {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-style: italic;

    font-size: 27px;
    font-weight: 700;
    /* color: #323232; */
    color: #2d2d2d;
}

.pb-logo:hover {
    cursor: pointer;
}

.pb-logo > a:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    margin-right: 2%;
    margin-top: 23.5px;
}

.nav-link {
    list-style-type: none;
    margin-right: 46px;
    font-size: 16.5px;
    letter-spacing: 0.1px;
}

.nav-link:hover {
    cursor: pointer;
}