.pb-input--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.pb-input-lbl {
    font-size: 15px;
    margin-bottom: 4px;
    margin-left: 1px;
    color: #616466;
    color: #595c5e;
    color: #525557;
    letter-spacing: 0.1px;
}

.pb-input {
    height: 43.5px;
    height: 42px;
    border-radius: 6px;
    border: none;
    background-color: #ebeef1;
    padding-left: 14px;
    font-size: 16px;
    /* color: #2d2f31; */
    color: #26282a;
}
.pb-input:focus {
    outline: none;
}

.modal-input {
    background-color: #d6dce3;   
}