.pb-input--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.pb-input-lbl {
    font-size: 15px;
    margin-bottom: 4px;
    margin-bottom: 3.5px;
    margin-left: 1px;
    color: #525557;
    color: #4a4d4f;
    letter-spacing: 0.1px;
}

.pb-input {
    height: 43.5px;
    height: 42px;
    border-radius: 6px;
    border-radius: 7px;
    border: none;
    background-color: #ebeef1;
    padding-left: 14px;
    font-size: 16px;
    /* color: #2d2f31; */
    color: #26282a;
}
.pb-input:focus {
    outline: none;
}
.pb-input:disabled {
    background-color: #f5f7f9;
    color: gray;
}

.modal-input {
    background-color: #dfe4e8;   
}