.pb-select--container {
    margin-right: 5%;
}

.pb-select {
    border: 1px solid rgb(0 0 0 / 19%);
    border-radius: 6px;
    height: 40px;
    padding: 6px;
    margin-top: 14px;
    width: 260px;
}

.li-txt {
    font-size: 14px;
}