.pb-select {
    border: 1px solid rgb(0 0 0 / 14%);
    border-radius: 6px;
    border-radius: 5px;
    height: 44px;
    padding: 10px;
    width: 288px;
    font-size: 15.5px;
    font-size: 16px;
    color: #4d4d4d;
    background-color: transparent;
}
.pb-select:focus {
    outline: none;
}
.pb-select:hover {
    cursor: pointer;
}