.err-msg--container {
    margin: 0 auto;
    width: 80%;
    height: 20.5px;
    border: 1px solid #e72a2a;
    border-radius: 2.5px;
    background-color: #e72a2a;
    color: #fff;
    padding: 20px;
    display: flex;
}

.err-msg {
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16.5px;
}

.close-err-msg {
    color: #a40000;
    font-weight: bold;
    font-size: 26px;
    margin-top: -8px;
  }
  .close-err-msg:hover {
    cursor: pointer;
  }