.err-msg--container,
.success-msg--container  {
  display: flex;
  margin: 0 auto;
  width: 88%;
  height: 16px;
  padding: 20px;
  padding-top: 13px;
  margin-top: 1%;
  margin-bottom: 6px;
  border-radius: 10px;
  border-radius: 5.5px;
  height: 13px;
}

.err-msg--container {
  background-color: #fc0000;
}

.err-msg {
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.close-err-msg {
    color: #c30001;
    font-weight: bold;
    font-size: 26px;
    margin-top: -8px;
  }
  .close-err-msg:hover {
    cursor: pointer;
  }