.table-container {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 2px 18px;
    padding-top: 0;
    padding-bottom: 0;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    padding-left: 0px;
    border-bottom: 1px solid #dbdbdb;
}
.table-row.last {
    border-bottom: none;
}

.table-data {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #282828;
    color: #111;
    cursor: pointer;
    text-decoration: none;
}

