.confirm-delete--container {
    display: flex;
    flex-direction: column;
}

.confirm-delete-msg {
    width: 92%;
}

.resource-to-delete {
    color: #777;
    color: #7f7f7f;
}

.confirm-delete-btns--container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 14.5px;
}