.confirm-delete--container {
    display: flex;
    flex-direction: column;
}

.confirm-delete-msg {
    width: 92%;
}

.resource-to-delete {
    color: #949494;
    color: #8e8e8e;
}

.confirm-delete-btns--container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 14.5px;
}