.modal {
    display: none;
    position: fixed;
    top: 0;
    right: -100%; /* Off-screen initially */
    width: 100%;
    height: 100%;
    background-color: #d2d4d982;
    z-index: 1;
    overflow-x: hidden;
    transition: right 0.3s ease;
  }
  .modal.open {
    right: 0%;
    display: block;
  }

  .modal-content {
    background-color: #fbfcfd;    
    position: absolute;
    overflow: auto;
    padding: 28px 24px;
    box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 6%);
  }

  .modal-content.side {
    right: -33%;
    height: 90%;
    top: 1.8%;
    width: 380px;
    box-shadow: none;
    border-radius: 6px;
    padding-right: 24px;
    background-color: #fefeff;
    border: 1px solid #dedede;
    box-shadow: 0px 1px 18px 6px rgb(0 0 0 / 2%);
    transition: opacity 0.3s ease, transform 3s ease;
  }

  .modal-content.center {
    position: fixed;
    overflow: auto;
    top: 36%;
    left: 36%;
    width: 392px;
    min-height: 88px;
    padding: 20px 25px;
    padding: 14px 22px;
    /* padding-bottom: 18px; */
    border-radius: 10px;
  }

  .modal-content.active {
    right: 2%;
    transform: translateX(0%);
  }

  .modal-header--container {
    display: flex;
    margin-top: 2px;
    margin-bottom: 14px;
    color: #1b1b1b;
  }

  .modal-header {
    font-size: 21px;
    margin-left: 4px;
    margin-right: 10px;
  }

  .form-err-msg {
    margin-bottom: 10px;
  }
  .form-err-msg > span {
    color: #e60000;
    font-size: 15px;
  }