/* App.css */
html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

/* Additional styles */
h2 {
  margin: 2px auto;
  color: #3e4143;
  letter-spacing: 0.2px;
}

h3 {
  color: #2c2f34;
  font-size: 17px ;
  font-weight: 500 ;
  letter-spacing: 0.4px;
  margin: 4px auto;
}

h4 {
  color: #2a2d30;
  font-size: 14px ;
  font-weight: 500 ;
  letter-spacing: 0.6px;
  margin: 4px auto;
}

a  {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
}

option {
  font-size: 14px;
}

/* Disable double-click highlighting */
.prevent-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove tap highlight color for iOS */
}